/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

#footer-form {
		width: 80%;
		margin: 0 10% 0 10%;
		font-size: 2em;
}

#footer-form textarea {
	height: 150px;
}

#thanks {
	font-size: 5em;
	text-align: center;
	margin-top: 20px;
}